.header__container {
  padding: 1rem 0;
}

.header__contentBox {
  width: 900px;
  /* background: #e8aa42; */
  border-bottom: 2px solid #e8aa42;
  margin: 0 auto;
}
.header__content {
  justify-content: space-between;
}

.header__ul {
  display: flex;
  list-style: none;
}

.header__ul > li a {
  color: white;
  margin: 0.8rem;
  padding: 0.5rem 1rem;
  background: #231955;
  border-radius: 10px;
}

.header__logo {
  /* border-radius: 5px; */
}
.header__logo > img {
  border-radius: 5px;
  overflow: hidden;
}
