.App {
  text-align: center;
  background: #ffe5b4;
  color: #231955;
}

a {
  text-decoration: none;
  color: #231955;
}

.App__Container {
  max-width: 900px;
  /* background: #e8aa42; */
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
